.u-section-1 .u-sheet-1 {
  min-height: 802px;
}

.u-section-1 .u-text-1 {
  background-image: none;
  margin: 104px auto 0 10px;
}

.u-section-1 .u-text-2 {
  background-image: none;
  font-size: 1.28571rem;
  margin: 20px auto 0 10px;
}

.u-section-1 .u-image-1 {
  float: left;
  width: 200px;
  margin: 0 10px 10px 0;
}

.u-section-1 .u-text-3 {
  margin: 35px auto 0 10px;
}

.u-section-1 .u-video-1 {
  height: 269px;
  width: 658px;
  margin: 0 auto;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 0px;
  margin: 30px auto 58px 10px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 857px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 10px;
    margin-left: 8px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 10px;
  }

  .u-section-1 .u-video-1 {
    height: 365px;
    width: 895px;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 8px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 6px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 8px;
  }

  .u-section-1 .u-video-1 {
    width: 720px;
    margin-right: 0;
    margin-left: 8px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 8px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 6px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 5px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 6px;
  }

  .u-section-1 .u-video-1 {
    width: 540px;
    margin-left: 6px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 6px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: 4px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 3px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 4px;
  }

  .u-section-1 .u-video-1 {
    width: 340px;
    margin-left: 4px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 4px;
  }
}