.u-section-1 .u-sheet-1 {
  min-height: 585px;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  margin: 1px auto 0 30px;
}

.u-section-1 .u-line-1 {
  width: 341px;
  border-style: dotted;
  height: 3px;
  transform-origin: left center 0px;
  margin: 20px auto 0 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 94px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 20px;
    margin-left: auto;
  }

  .u-section-1 .u-line-1 {
    width: 258px;
    margin-bottom: 20px;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1022px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 979px;
}

.u-section-2 .u-repeater-1 {
  min-height: 1118px;
  grid-template-columns: 50% 50%;
  width: 1020px;
  grid-gap: 0px 0px;
  margin: 30px auto 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  height: 308px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-group-1 {
  width: 258px;
  min-height: 177px;
  background-size: auto;
  margin: -56px auto 0 17px;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px 10px;
}

.u-section-2 .u-text-1 {
  margin: 0 auto;
}

.u-section-2 .u-product-price-1 {
  margin: 17px auto 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  height: 308px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-group-2 {
  width: 258px;
  min-height: 177px;
  background-size: auto;
  margin: -56px auto 0 17px;
}

.u-section-2 .u-container-layout-4 {
  padding: 20px 10px;
}

.u-section-2 .u-text-2 {
  margin: 0 auto;
}

.u-section-2 .u-product-price-2 {
  margin: 17px auto 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-image-3 {
  height: 308px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-group-3 {
  width: 258px;
  min-height: 177px;
  background-size: auto;
  margin: -56px auto 0 17px;
}

.u-section-2 .u-container-layout-6 {
  padding: 20px 10px;
}

.u-section-2 .u-text-3 {
  margin: 0 auto;
}

.u-section-2 .u-product-price-3 {
  margin: 17px auto 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  height: 308px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-group-1 {
  width: 258px;
  min-height: 177px;
  background-size: auto;
  margin: -56px auto 0 17px;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px 10px;
}

.u-section-2 .u-text-1 {
  margin: 0 auto;
}

.u-section-2 .u-product-price-1 {
  margin: 17px auto 0;
}

.u-section-2 .u-repeater-2 {
  min-height: 939px;
  grid-template-columns: 50% 50%;
  height: auto;
  grid-gap: 0px 0px;
  width: 820px;
  margin: 30px auto;
}

.u-section-2 .u-container-layout-9 {
  padding: 30px;
}

.u-section-2 .u-image-5 {
  height: 308px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-group-5 {
  width: 258px;
  min-height: 137px;
  background-size: auto;
  margin: -56px auto 0 37px;
}

.u-section-2 .u-container-layout-10 {
  padding: 20px 10px;
}

.u-section-2 .u-text-5 {
  margin: 13px auto 0;
}

.u-section-2 .u-product-price-5 {
  margin: 17px auto 0;
}

.u-section-2 .u-container-layout-11 {
  padding: 30px;
}

.u-section-2 .u-image-6 {
  height: 308px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-group-6 {
  width: 258px;
  min-height: 137px;
  background-size: auto;
  margin: -56px auto 0 37px;
}

.u-section-2 .u-container-layout-12 {
  padding: 20px 10px;
}

.u-section-2 .u-text-6 {
  margin: 13px auto 0;
}

.u-section-2 .u-product-price-6 {
  margin: 17px auto 0;
}

.u-section-2 .u-container-layout-13 {
  padding: 30px;
}

.u-section-2 .u-image-7 {
  height: 308px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-group-7 {
  width: 258px;
  min-height: 137px;
  background-size: auto;
  margin: -56px auto 0 37px;
}

.u-section-2 .u-container-layout-14 {
  padding: 20px 10px;
}

.u-section-2 .u-text-7 {
  margin: 13px auto 0;
}

.u-section-2 .u-product-price-7 {
  margin: 17px auto 0;
}

.u-section-2 .u-container-layout-15 {
  padding: 30px;
}

.u-section-2 .u-image-8 {
  height: 308px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-group-8 {
  width: 258px;
  min-height: 137px;
  background-size: auto;
  margin: -56px auto 0 37px;
}

.u-section-2 .u-container-layout-16 {
  padding: 20px 10px;
}

.u-section-2 .u-text-8 {
  margin: 13px auto 0;
}

.u-section-2 .u-product-price-8 {
  margin: 17px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1039px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 939px;
    height: auto;
    width: 820px;
  }

  .u-section-2 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-group-1 {
    min-height: 137px;
    margin-left: 37px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 13px;
  }

  .u-section-2 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-group-2 {
    min-height: 137px;
    margin-left: 37px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 13px;
  }

  .u-section-2 .u-image-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-group-3 {
    min-height: 137px;
    margin-left: 37px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 13px;
  }

  .u-section-2 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-group-1 {
    min-height: 137px;
    margin-left: 37px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 13px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    width: 720px;
  }

  .u-section-2 .u-group-1 {
    margin-left: auto;
  }

  .u-section-2 .u-group-2 {
    margin-left: auto;
  }

  .u-section-2 .u-group-3 {
    margin-left: auto;
  }

  .u-section-2 .u-group-1 {
    margin-left: auto;
  }

  .u-section-2 .u-repeater-2 {
    grid-template-columns: 100%;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    height: 482px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-group-1 {
    width: 369px;
    margin-top: -53px;
    margin-left: 76px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    height: 482px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-group-2 {
    width: 369px;
    margin-top: -53px;
    margin-left: 76px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    height: 482px;
    margin-top: 99px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-group-3 {
    width: 369px;
    margin-top: -53px;
    margin-left: 76px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    height: 482px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-group-1 {
    width: 369px;
    margin-top: -53px;
    margin-left: 76px;
  }

  .u-section-2 .u-repeater-2 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-15 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-repeater-1 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    height: 346px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-group-1 {
    width: 267px;
    min-height: 162px;
    margin-top: -32px;
    margin-left: auto;
  }

  .u-section-2 .u-image-2 {
    height: 346px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-group-2 {
    width: 267px;
    min-height: 162px;
    margin-top: -32px;
    margin-left: auto;
  }

  .u-section-2 .u-image-3 {
    height: 346px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-group-3 {
    width: 267px;
    min-height: 162px;
    margin-top: -32px;
    margin-left: auto;
  }

  .u-section-2 .u-image-1 {
    height: 346px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-group-1 {
    width: 267px;
    min-height: 162px;
    margin-top: -32px;
    margin-left: auto;
  }

  .u-section-2 .u-repeater-2 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 89px;
}

.u-section-3 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.28571rem;
  margin: 20px auto -351px 20px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-btn-1 {
    margin-bottom: 20px;
    margin-left: 40px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-btn-1 {
    margin-left: 0;
  }
}