.st-actionContainer {
  z-index: 9999;
  position: fixed;
  display: inline-block;
}

.right-bottom {
  top: 10em;
  right: 2em;
  float: right !important;
}


.left-bottom {
  bottom: 2em;
  left: 2em;
  float: left !important;
}

div.st-actionContainer li{
  list-style: none;
}

#st-panel{
  width: auto;
  margin-bottom: 10%;
  background-color: #757575;
  color: white;
  border: 2px solid #eee;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border-radius: 5px;
  display: none;
}

.st-panel-header{
  background-color: white;
  color: #05244b;
  padding: 3px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.gridChild {
  flex: 0 0 33.33%;
  height: 50px;
  background-color: #05244b;
  text-align:center;
  text-decoration: none;
  color: #fa9500;
  line-height:50px;
}

.gridChild:hover{
  color: #ffffff;
}

#st-btn-container{
  background:#05244b;
  width:60px;
  height:60px;
  border-radius:100%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.st-button-main{
  font-size:24px;
  color:#fa9500;
  font-size:24px;
  text-align:center;
  line-height:60px;
  cursor:pointer;
  height: 100%;
  width: 100%;
  display: table;
}

.st-button-main > i{
  display: table-cell;
  vertical-align: middle;
}

.rotateForward{
    animation-name:             rotateF;
    animation-duration:         0.65s;
    animation-iteration-count:  1;

}

@keyframes rotateF {
  from {
            transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
  }
  to {
            transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            -webkit-transform: rotate(360deg);
  }
}
.u-section-1 .u-sheet-1 {
  min-height: 585px;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  margin: 1px auto 0 30px;
}

.u-section-1 .u-line-1 {
  width: 341px;
  border-style: dotted;
  height: 3px;
  transform-origin: left center 0px;
  margin: 20px auto 0 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 94px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 20px;
    margin-left: auto;
  }

  .u-section-1 .u-line-1 {
    width: 258px;
    margin-bottom: 20px;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1022px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1039px;
}

.u-section-2 .u-repeater-1 {
  min-height: 1118px;
  grid-template-columns: 50% 50%;
  width: 1020px;
  grid-gap: 0px 0px;
  margin: 60px auto 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  height: 308px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-group-1 {
  width: 258px;
  min-height: 177px;
  background-size: auto;
  margin: -56px auto 0 17px;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px 10px;
}

.u-section-2 .u-text-1 {
  margin: 0 auto;
}

.u-section-2 .u-product-price-1 {
  margin: 17px auto 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  height: 308px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-group-2 {
  width: 258px;
  min-height: 177px;
  background-size: auto;
  margin: -56px auto 0 17px;
}

.u-section-2 .u-container-layout-4 {
  padding: 20px 10px;
}

.u-section-2 .u-text-2 {
  margin: 0 auto;
}

.u-section-2 .u-product-price-2 {
  margin: 17px auto 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-image-3 {
  height: 308px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-group-3 {
  width: 258px;
  min-height: 177px;
  background-size: auto;
  margin: -56px auto 0 17px;
}

.u-section-2 .u-container-layout-6 {
  padding: 20px 10px;
}

.u-section-2 .u-text-3 {
  margin: 0 auto;
}

.u-section-2 .u-product-price-3 {
  margin: 17px auto 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  height: 308px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-group-1 {
  width: 258px;
  min-height: 177px;
  background-size: auto;
  margin: -56px auto 0 17px;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px 10px;
}

.u-section-2 .u-text-1 {
  margin: 0 auto;
}

.u-section-2 .u-product-price-1 {
  margin: 17px auto 0;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.28571rem;
  margin: -629px 7px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    min-height: 939px;
    height: auto;
    width: 820px;
    margin-top: 30px;
  }

  .u-section-2 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-group-1 {
    min-height: 137px;
    margin-left: 37px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 13px;
  }

  .u-section-2 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-group-2 {
    min-height: 137px;
    margin-left: 37px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 13px;
  }

  .u-section-2 .u-image-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-group-3 {
    min-height: 137px;
    margin-left: 37px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 13px;
  }

  .u-section-2 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-group-1 {
    min-height: 137px;
    margin-left: 37px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 13px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -9px;
    margin-right: 40px;
    margin-bottom: 27px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    width: 720px;
  }

  .u-section-2 .u-group-1 {
    margin-left: auto;
  }

  .u-section-2 .u-group-2 {
    margin-left: auto;
  }

  .u-section-2 .u-group-3 {
    margin-left: auto;
  }

  .u-section-2 .u-group-1 {
    margin-left: auto;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    height: 482px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-group-1 {
    width: 369px;
    margin-top: -53px;
    margin-left: 76px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    height: 482px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-group-2 {
    width: 369px;
    margin-top: -53px;
    margin-left: 76px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    height: 482px;
    margin-top: 99px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-group-3 {
    width: 369px;
    margin-top: -53px;
    margin-left: 76px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    height: 482px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-group-1 {
    width: 369px;
    margin-top: -53px;
    margin-left: 76px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-repeater-1 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    height: 346px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-group-1 {
    width: 267px;
    min-height: 162px;
    margin-top: -32px;
    margin-left: auto;
  }

  .u-section-2 .u-image-2 {
    height: 346px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-group-2 {
    width: 267px;
    min-height: 162px;
    margin-top: -32px;
    margin-left: auto;
  }

  .u-section-2 .u-image-3 {
    height: 346px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-group-3 {
    width: 267px;
    min-height: 162px;
    margin-top: -32px;
    margin-left: auto;
  }

  .u-section-2 .u-image-1 {
    height: 346px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-group-1 {
    width: 267px;
    min-height: 162px;
    margin-top: -32px;
    margin-left: auto;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 614px;
}

.u-section-3 .u-text-1 {
  font-size: 1.875rem;
  margin: 30px auto 0 25px;
}

.u-section-3 .u-line-1 {
  width: 341px;
  border-style: dotted;
  height: 3px;
  transform-origin: left center 0px;
  margin: 20px auto 0 25px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 94px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 20px;
    margin-left: auto;
  }

  .u-section-3 .u-line-1 {
    width: 258px;
    margin-bottom: 20px;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1080px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1314px;
}

.u-section-4 .u-repeater-1 {
  min-height: 1118px;
  grid-template-columns: 50% 50%;
  width: 1020px;
  grid-gap: 0px 0px;
  margin: 60px auto 0;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-image-1 {
  height: 308px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-group-1 {
  width: 258px;
  min-height: 177px;
  background-size: auto;
  margin: -56px auto 0 17px;
}

.u-section-4 .u-container-layout-2 {
  padding: 20px 10px;
}

.u-section-4 .u-text-1 {
  margin: 0 auto;
}

.u-section-4 .u-product-price-1 {
  margin: 17px auto 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-image-2 {
  height: 308px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-group-2 {
  width: 258px;
  min-height: 177px;
  background-size: auto;
  margin: -56px auto 0 17px;
}

.u-section-4 .u-container-layout-4 {
  padding: 20px 10px;
}

.u-section-4 .u-text-2 {
  margin: 0 auto;
}

.u-section-4 .u-product-price-2 {
  margin: 17px auto 0;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-image-3 {
  height: 308px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-group-3 {
  width: 258px;
  min-height: 177px;
  background-size: auto;
  margin: -56px auto 0 17px;
}

.u-section-4 .u-container-layout-6 {
  padding: 20px 10px;
}

.u-section-4 .u-text-3 {
  margin: 0 auto;
}

.u-section-4 .u-product-price-3 {
  margin: 17px auto 0;
}

.u-section-4 .u-container-layout-7 {
  padding: 30px;
}

.u-section-4 .u-image-4 {
  height: 308px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-group-4 {
  width: 258px;
  min-height: 177px;
  background-size: auto;
  margin: -56px auto 0 17px;
}

.u-section-4 .u-container-layout-8 {
  padding: 20px 10px;
}

.u-section-4 .u-text-4 {
  margin: 0 auto;
}

.u-section-4 .u-product-price-4 {
  margin: 17px auto 0;
}

.u-section-4 .u-btn-1 {
  text-transform: uppercase;
  font-size: 1.28571rem;
  font-weight: bold;
  margin: 30px 72px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1039px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 939px;
    height: auto;
    width: 820px;
    margin-top: 30px;
  }

  .u-section-4 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-group-1 {
    min-height: 137px;
    margin-left: 37px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 13px;
  }

  .u-section-4 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-group-2 {
    min-height: 137px;
    margin-left: 37px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 13px;
  }

  .u-section-4 .u-image-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-group-3 {
    min-height: 137px;
    margin-left: 37px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 13px;
  }

  .u-section-4 .u-image-4 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-group-4 {
    min-height: 137px;
    margin-left: 37px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 13px;
  }

  .u-section-4 .u-btn-1 {
    border-style: solid;
    margin-top: -9px;
    margin-right: 40px;
    margin-bottom: -19px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    width: 720px;
  }

  .u-section-4 .u-group-1 {
    margin-left: auto;
  }

  .u-section-4 .u-group-2 {
    margin-left: auto;
  }

  .u-section-4 .u-group-3 {
    margin-left: auto;
  }

  .u-section-4 .u-group-4 {
    margin-left: auto;
  }

  .u-section-4 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
    width: 540px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    height: 482px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-group-1 {
    width: 369px;
    margin-top: -53px;
    margin-left: 76px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    height: 482px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-group-2 {
    width: 369px;
    margin-top: -53px;
    margin-left: 76px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-3 {
    height: 482px;
    margin-top: 99px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-group-3 {
    width: 369px;
    margin-top: -53px;
    margin-left: 76px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-4 {
    height: 482px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-group-4 {
    width: 369px;
    margin-top: -53px;
    margin-left: 76px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-repeater-1 {
    width: 340px;
  }

  .u-section-4 .u-image-1 {
    height: 346px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-group-1 {
    width: 267px;
    min-height: 162px;
    margin-top: -32px;
    margin-left: auto;
  }

  .u-section-4 .u-image-2 {
    height: 346px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-group-2 {
    width: 267px;
    min-height: 162px;
    margin-top: -32px;
    margin-left: auto;
  }

  .u-section-4 .u-image-3 {
    height: 346px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-group-3 {
    width: 267px;
    min-height: 162px;
    margin-top: -32px;
    margin-left: auto;
  }

  .u-section-4 .u-image-4 {
    height: 346px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-group-4 {
    width: 267px;
    min-height: 162px;
    margin-top: -32px;
    margin-left: auto;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 614px;
}

.u-section-5 .u-text-1 {
  font-size: 1.875rem;
  margin: 30px auto 0 25px;
}

.u-section-5 .u-line-1 {
  width: 341px;
  border-style: dotted;
  height: 3px;
  transform-origin: left center 0px;
  margin: 20px auto 0 25px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 94px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 20px;
    margin-left: auto;
  }

  .u-section-5 .u-line-1 {
    width: 261px;
    margin-left: auto;
    margin-bottom: -409px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1080px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 1039px;
}

.u-section-6 .u-repeater-1 {
  min-height: 1118px;
  grid-template-columns: 50% 50%;
  width: 1020px;
  grid-gap: 0px 0px;
  margin: 60px auto 0;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-image-1 {
  height: 308px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-group-1 {
  width: 258px;
  min-height: 177px;
  background-size: auto;
  margin: -56px auto 0 17px;
}

.u-section-6 .u-container-layout-2 {
  padding: 20px 10px;
}

.u-section-6 .u-text-1 {
  margin: 0 auto;
}

.u-section-6 .u-product-price-1 {
  margin: 17px auto 0;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-image-2 {
  height: 308px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-group-2 {
  width: 258px;
  min-height: 177px;
  background-size: auto;
  margin: -56px auto 0 17px;
}

.u-section-6 .u-container-layout-4 {
  padding: 20px 10px;
}

.u-section-6 .u-text-2 {
  margin: 0 auto;
}

.u-section-6 .u-product-price-2 {
  margin: 17px auto 0;
}

.u-section-6 .u-container-layout-5 {
  padding: 30px;
}

.u-section-6 .u-image-3 {
  height: 308px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-group-3 {
  width: 258px;
  min-height: 177px;
  background-size: auto;
  margin: -56px auto 0 17px;
}

.u-section-6 .u-container-layout-6 {
  padding: 20px 10px;
}

.u-section-6 .u-text-3 {
  margin: 0 auto;
}

.u-section-6 .u-product-price-3 {
  margin: 17px auto 0;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-image-1 {
  height: 308px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-group-1 {
  width: 258px;
  min-height: 177px;
  background-size: auto;
  margin: -56px auto 0 17px;
}

.u-section-6 .u-container-layout-2 {
  padding: 20px 10px;
}

.u-section-6 .u-text-1 {
  margin: 0 auto;
}

.u-section-6 .u-product-price-1 {
  margin: 17px auto 0;
}

.u-section-6 .u-btn-1 {
  border-style: solid;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.28571rem;
  margin: -621px -4px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-6 .u-repeater-1 {
    min-height: 939px;
    height: auto;
    width: 820px;
    margin-top: 30px;
  }

  .u-section-6 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-group-1 {
    min-height: 137px;
    margin-left: 37px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 13px;
  }

  .u-section-6 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-group-2 {
    min-height: 137px;
    margin-left: 37px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 13px;
  }

  .u-section-6 .u-image-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-group-3 {
    min-height: 137px;
    margin-left: 37px;
  }

  .u-section-6 .u-text-3 {
    margin-top: 13px;
  }

  .u-section-6 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-group-1 {
    min-height: 137px;
    margin-left: 37px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 13px;
  }

  .u-section-6 .u-btn-1 {
    margin-top: -9px;
    margin-right: 40px;
    margin-bottom: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    width: 720px;
  }

  .u-section-6 .u-group-1 {
    margin-left: auto;
  }

  .u-section-6 .u-group-2 {
    margin-left: auto;
  }

  .u-section-6 .u-group-3 {
    margin-left: auto;
  }

  .u-section-6 .u-group-1 {
    margin-left: auto;
  }

  .u-section-6 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
    width: 540px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-1 {
    height: 482px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-group-1 {
    width: 369px;
    margin-top: -53px;
    margin-left: 76px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-2 {
    height: 482px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-group-2 {
    width: 369px;
    margin-top: -53px;
    margin-left: 76px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-3 {
    height: 482px;
    margin-top: 99px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-group-3 {
    width: 369px;
    margin-top: -53px;
    margin-left: 76px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-1 {
    height: 482px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-group-1 {
    width: 369px;
    margin-top: -53px;
    margin-left: 76px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-repeater-1 {
    width: 340px;
  }

  .u-section-6 .u-image-1 {
    height: 346px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-group-1 {
    width: 267px;
    min-height: 162px;
    margin-top: -32px;
    margin-left: auto;
  }

  .u-section-6 .u-image-2 {
    height: 346px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-group-2 {
    width: 267px;
    min-height: 162px;
    margin-top: -32px;
    margin-left: auto;
  }

  .u-section-6 .u-image-3 {
    height: 346px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-group-3 {
    width: 267px;
    min-height: 162px;
    margin-top: -32px;
    margin-left: auto;
  }

  .u-section-6 .u-image-1 {
    height: 346px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-group-1 {
    width: 267px;
    min-height: 162px;
    margin-top: -32px;
    margin-left: auto;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 614px;
}

.u-section-7 .u-text-1 {
  font-size: 1.875rem;
  margin: 30px auto 0 25px;
}

.u-section-7 .u-line-1 {
  width: 341px;
  border-style: dotted;
  height: 3px;
  transform-origin: left center 0px;
  margin: 20px auto 0 25px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 94px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 20px;
    margin-left: auto;
  }

  .u-section-7 .u-line-1 {
    width: 261px;
    margin-left: auto;
    margin-bottom: -409px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1080px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-1 {
    font-size: 1.5rem;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 1238px;
}

.u-section-8 .u-repeater-1 {
  min-height: 1118px;
  grid-template-columns: 50% 50%;
  width: 1020px;
  grid-gap: 0px 0px;
  margin: 60px auto 0;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-image-1 {
  height: 308px;
  margin: 0 auto 0 0;
}

.u-section-8 .u-group-1 {
  width: 258px;
  min-height: 177px;
  background-size: auto;
  margin: -56px auto 0 17px;
}

.u-section-8 .u-container-layout-2 {
  padding: 20px 10px;
}

.u-section-8 .u-text-1 {
  margin: 0 auto;
}

.u-section-8 .u-product-price-1 {
  margin: 17px auto 0;
}

.u-section-8 .u-container-layout-3 {
  padding: 30px;
}

.u-section-8 .u-image-2 {
  height: 308px;
  margin: 0 auto 0 0;
}

.u-section-8 .u-group-2 {
  width: 258px;
  min-height: 177px;
  background-size: auto;
  margin: -56px auto 0 17px;
}

.u-section-8 .u-container-layout-4 {
  padding: 20px 10px;
}

.u-section-8 .u-text-2 {
  margin: 0 auto;
}

.u-section-8 .u-product-price-2 {
  margin: 17px auto 0;
}

.u-section-8 .u-container-layout-5 {
  padding: 30px;
}

.u-section-8 .u-image-3 {
  height: 308px;
  margin: 0 auto 0 0;
}

.u-section-8 .u-group-3 {
  width: 258px;
  min-height: 177px;
  background-size: auto;
  margin: -56px auto 0 17px;
}

.u-section-8 .u-container-layout-6 {
  padding: 20px 10px;
}

.u-section-8 .u-text-3 {
  margin: 0 auto;
}

.u-section-8 .u-product-price-3 {
  margin: 17px auto 0;
}

.u-section-8 .u-container-layout-7 {
  padding: 30px;
}

.u-section-8 .u-image-4 {
  height: 308px;
  margin: 0 auto 0 0;
}

.u-section-8 .u-group-4 {
  width: 258px;
  min-height: 177px;
  background-size: auto;
  margin: -56px auto 0 17px;
}

.u-section-8 .u-container-layout-8 {
  padding: 20px 10px;
}

.u-section-8 .u-text-4 {
  margin: 0 auto;
}

.u-section-8 .u-product-price-4 {
  margin: 17px auto 0;
}

.u-section-8 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: -9px 40px -19px auto;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 995px;
  }

  .u-section-8 .u-repeater-1 {
    min-height: 898px;
    height: auto;
    width: 820px;
    margin-top: 30px;
  }

  .u-section-8 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-group-1 {
    min-height: 137px;
    margin-left: 37px;
  }

  .u-section-8 .u-text-1 {
    margin-top: 13px;
  }

  .u-section-8 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-group-2 {
    min-height: 137px;
    margin-left: 37px;
  }

  .u-section-8 .u-text-2 {
    margin-top: 13px;
  }

  .u-section-8 .u-image-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-group-3 {
    min-height: 137px;
    margin-left: 37px;
  }

  .u-section-8 .u-text-3 {
    margin-top: 13px;
  }

  .u-section-8 .u-image-4 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-group-4 {
    min-height: 137px;
    margin-left: 37px;
  }

  .u-section-8 .u-text-4 {
    margin-top: 13px;
  }

  .u-section-8 .u-btn-1 {
    margin-bottom: -66px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    width: 720px;
  }

  .u-section-8 .u-group-1 {
    margin-left: auto;
  }

  .u-section-8 .u-group-2 {
    margin-left: auto;
  }

  .u-section-8 .u-group-3 {
    margin-left: auto;
  }

  .u-section-8 .u-group-4 {
    margin-left: auto;
  }

  .u-section-8 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-repeater-1 {
    grid-template-columns: 100%;
    width: 540px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-image-1 {
    height: 482px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-group-1 {
    width: 369px;
    margin-top: -53px;
    margin-left: 76px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-image-2 {
    height: 482px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-group-2 {
    width: 369px;
    margin-top: -53px;
    margin-left: 76px;
  }

  .u-section-8 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-image-3 {
    height: 482px;
    margin-top: 99px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-group-3 {
    width: 369px;
    margin-top: -53px;
    margin-left: 76px;
  }

  .u-section-8 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-image-4 {
    height: 482px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-group-4 {
    width: 369px;
    margin-top: -53px;
    margin-left: 76px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-repeater-1 {
    width: 340px;
  }

  .u-section-8 .u-image-1 {
    height: 346px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-group-1 {
    width: 267px;
    min-height: 162px;
    margin-top: -32px;
    margin-left: auto;
  }

  .u-section-8 .u-image-2 {
    height: 346px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-group-2 {
    width: 267px;
    min-height: 162px;
    margin-top: -32px;
    margin-left: auto;
  }

  .u-section-8 .u-image-3 {
    height: 346px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-group-3 {
    width: 267px;
    min-height: 162px;
    margin-top: -32px;
    margin-left: auto;
  }

  .u-section-8 .u-image-4 {
    height: 346px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-group-4 {
    width: 267px;
    min-height: 162px;
    margin-top: -32px;
    margin-left: auto;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 614px;
}

.u-section-9 .u-text-1 {
  font-size: 1.875rem;
  margin: 30px auto 0 25px;
}

.u-section-9 .u-line-1 {
  width: 341px;
  border-style: dotted;
  height: 3px;
  transform-origin: left center 0px;
  margin: 20px auto 0 25px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 94px;
  }

  .u-section-9 .u-text-1 {
    margin-top: 20px;
    margin-left: auto;
  }

  .u-section-9 .u-line-1 {
    width: 261px;
    margin-left: auto;
    margin-bottom: -409px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1080px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-text-1 {
    font-size: 1.5rem;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 1238px;
}

.u-section-10 .u-repeater-1 {
  min-height: 1118px;
  grid-template-columns: 50% 50%;
  width: 1020px;
  grid-gap: 0px 0px;
  margin: 60px auto 0;
}

.u-section-10 .u-container-layout-1 {
  padding: 30px;
}

.u-section-10 .u-image-1 {
  height: 308px;
  margin: 0 auto 0 0;
}

.u-section-10 .u-group-1 {
  width: 258px;
  min-height: 177px;
  background-size: auto;
  margin: -56px auto 0 17px;
}

.u-section-10 .u-container-layout-2 {
  padding: 20px 10px;
}

.u-section-10 .u-text-1 {
  margin: 0 auto;
}

.u-section-10 .u-product-price-1 {
  margin: 17px auto 0;
}

.u-section-10 .u-container-layout-3 {
  padding: 30px;
}

.u-section-10 .u-image-2 {
  height: 308px;
  margin: 0 auto 0 0;
}

.u-section-10 .u-group-2 {
  width: 258px;
  min-height: 177px;
  background-size: auto;
  margin: -56px auto 0 17px;
}

.u-section-10 .u-container-layout-4 {
  padding: 20px 10px;
}

.u-section-10 .u-text-2 {
  margin: 0 auto;
}

.u-section-10 .u-product-price-2 {
  margin: 17px auto 0;
}

.u-section-10 .u-container-layout-5 {
  padding: 30px;
}

.u-section-10 .u-image-3 {
  height: 308px;
  margin: 0 auto 0 0;
}

.u-section-10 .u-group-3 {
  width: 258px;
  min-height: 177px;
  background-size: auto;
  margin: -56px auto 0 17px;
}

.u-section-10 .u-container-layout-6 {
  padding: 20px 10px;
}

.u-section-10 .u-text-3 {
  margin: 0 auto;
}

.u-section-10 .u-product-price-3 {
  margin: 17px auto 0;
}

.u-section-10 .u-container-layout-7 {
  padding: 30px;
}

.u-section-10 .u-image-4 {
  height: 308px;
  margin: 0 auto 0 0;
}

.u-section-10 .u-group-4 {
  width: 258px;
  min-height: 177px;
  background-size: auto;
  margin: -56px auto 0 17px;
}

.u-section-10 .u-container-layout-8 {
  padding: 20px 10px;
}

.u-section-10 .u-text-4 {
  margin: 0 auto;
}

.u-section-10 .u-product-price-4 {
  margin: 17px auto 0;
}

.u-section-10 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 995px;
  }

  .u-section-10 .u-repeater-1 {
    min-height: 898px;
    height: auto;
    width: 820px;
    margin-top: 30px;
  }

  .u-section-10 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-group-1 {
    min-height: 137px;
    margin-left: 37px;
  }

  .u-section-10 .u-text-1 {
    margin-top: 13px;
  }

  .u-section-10 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-group-2 {
    min-height: 137px;
    margin-left: 37px;
  }

  .u-section-10 .u-text-2 {
    margin-top: 13px;
  }

  .u-section-10 .u-image-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-group-3 {
    min-height: 137px;
    margin-left: 37px;
  }

  .u-section-10 .u-text-3 {
    margin-top: 13px;
  }

  .u-section-10 .u-image-4 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-group-4 {
    min-height: 137px;
    margin-left: 37px;
  }

  .u-section-10 .u-text-4 {
    margin-top: 13px;
  }

  .u-section-10 .u-btn-1 {
    margin-top: -9px;
    margin-right: 40px;
    margin-bottom: -66px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    width: 720px;
  }

  .u-section-10 .u-group-1 {
    margin-left: auto;
  }

  .u-section-10 .u-group-2 {
    margin-left: auto;
  }

  .u-section-10 .u-group-3 {
    margin-left: auto;
  }

  .u-section-10 .u-group-4 {
    margin-left: auto;
  }

  .u-section-10 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-repeater-1 {
    grid-template-columns: 100%;
    width: 540px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-image-1 {
    height: 482px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-group-1 {
    width: 369px;
    margin-top: -53px;
    margin-left: 76px;
  }

  .u-section-10 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-image-2 {
    height: 482px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-group-2 {
    width: 369px;
    margin-top: -53px;
    margin-left: 76px;
  }

  .u-section-10 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-image-3 {
    height: 482px;
    margin-top: 99px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-group-3 {
    width: 369px;
    margin-top: -53px;
    margin-left: 76px;
  }

  .u-section-10 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-image-4 {
    height: 482px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-group-4 {
    width: 369px;
    margin-top: -53px;
    margin-left: 76px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-repeater-1 {
    width: 340px;
  }

  .u-section-10 .u-image-1 {
    height: 346px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-group-1 {
    width: 267px;
    min-height: 162px;
    margin-top: -32px;
    margin-left: auto;
  }

  .u-section-10 .u-image-2 {
    height: 346px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-group-2 {
    width: 267px;
    min-height: 162px;
    margin-top: -32px;
    margin-left: auto;
  }

  .u-section-10 .u-image-3 {
    height: 346px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-group-3 {
    width: 267px;
    min-height: 162px;
    margin-top: -32px;
    margin-left: auto;
  }

  .u-section-10 .u-image-4 {
    height: 346px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-group-4 {
    width: 267px;
    min-height: 162px;
    margin-top: -32px;
    margin-left: auto;
  }
}